{% extends '../layout.html.twig' %}

{% block head %}
    {% include 'head_sources.twig' %}
{% endblock %}
{% block head_content %}{% endblock %}
{% block main_content %}
    <main class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Veranstaltung bearbeiten</p>
            </div>
            <div class="panel-body">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p>Thema: <input type="text" class="form-control" name="theme" placeholder="Vorname"/></p>
                    <p>Datum: <input type="text" class="form-control" name="date" placeholder="Vorname"/></p>
                    <p>Verfügbare Plätze: <input type="text" class="form-control" name="free_places" placeholder="Freie Plätze"/></p>
                    <p>Preis: <input type="text" class="form-control" name="price" placeholder="Preis"/></p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <textarea class="form-control" rows="10" placeholder="Veranstaltungs Beschreibung hier.."></textarea>
                </div>
            </div>
        </div>
        <div>
        </div>
        <a class="btn btn-default">Erstellen</a>
    </main>
{% endblock %}
{% block footer_content %}{% endblock %}