body {
    font-family: sans-serif;
}
.main {
    width: 100%;
    height: 1000px;
}
.left {
    width: 40%;
    height: 100%;
    float: left;
}
.right {
    width: 60%;
    height: 100%;
    float: right;
}
.title {
    background: #BBB;
    height: 25%;
}
.title p {
    font-size: 2em;
    margin: 0;
    padding: 15px;
}
.desc {
    background: #DDD;
    height: 75%;
}
.desc p {
    font-size: 1.7em;
    margin: 0;
    padding: 15px;
}
.price {
    background: #747;
    height: 10%;
    width: 50%;
    float: left;
}
.price p {
    font-size: 2.2em;
}
.btn button {
    background: #777;
    height: 100px;
    width: 50%;
    float: right;
    border: none;
}
.infos {
    background: #B79A9A;
    height: 40%;
    margin-top: 100px;
}
.infos p {
    font-size: 1.8em;
    padding: 15px;
}
.map {
    background: #BBB;
    height: 50%;
}


/* Login Start*/

.login {
    margin-top: 200px;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.login span {
    margin-top: 20px;
}

/* Login End*/




