<html lang="de">
    <head>
        {% block head %}{% endblock %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
     {% block head_content %}{% endblock %}
     {% block main_content %}{% endblock %}
     {% block footer_content %}{% endblock %}
    </body>
</html>