AuthUserFile /www/htdocs/w013cb06/g18.philipp-marien.de/web/.htpasswd
AuthGroupFile /dev/null
AuthName 'ByPassword'
AuthType Basic
require valid-user
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]